

:root {
  --neutral-100: #fff;
  --neutral-200: #f6f7fb;
  --neutral-300: #edeff4;
  --neutral-400: #d9dde8;
  --neutral-500: #939bb4;
  --ink-100: #646f90;
  --ink-200: #303545;
  --ink-300: #282e3e;
  --ink-400: #1a1d28;
  --ink-500: #13141b;
  --indigo-100: #eff3fb;
  --indigo-200: #cedaf3;
  --indigo-300: #7b89c9;
  --indigo-400: #4257b2;
  --indigo-500: #3b4c9b;
  --teal-100: #e7f9f9;
  --teal-200: #cff3f3;
  --teal-300: #7dd;
  --teal-400: #3ccfcf;
  --teal-500: #28a7a7;
  --yellow-100: #fff9e3;
  --yellow-200: #ffedab;
  --yellow-300: #ffdc62;
  --yellow-400: #ffcd1f;
  --yellow-500: #970;
  --orange-100: #fff8f0;
  --orange-200: #fce1c0;
  --orange-300: #f5ab4c;
  --orange-400: #f08700;
  --orange-500: #965501;
  --green-100: #f2fbf6;
  --green-200: #c8ecdb;
  --green-300: #65c999;
  --green-400: #23b26d;
  --green-500: #19804f;
  --coral-100: #fff3f1;
  --coral-200: #ffdcd6;
  --coral-300: #ff9c8c;
  --coral-400: #ff725b;
  --coral-500: #c34632;
}

:root {
  --twilight-100: #edefff;
  --twilight-200: #dbdfff;
  --twilight-300: #a8b1ff;
  --twilight-400: #7583ff;
  --twilight-500: #4255ff;
  --twilight-600: #423ed8;
  --twilight-700: #1f1c8b;
  --twilight-800: #14125c;
  --twilight-900: #0a092d;
  --gray-100: #fff;
  --gray-200: #f6f7fb;
  --gray-300: #edeff4;
  --gray-400: #d9dde8;
  --gray-500: #939bb4;
  --gray-600: #586380;
  --gray-700: #2e3856;
  --gray-800: #282e3e;
  --gray-900: #1a1d28;
  --lemon-100: #fdffe9;
  --lemon-200: #faffbb;
  --lemon-300: #f5ff7d;
  --lemon-400: #ebff03;
  --lemon-500: #acbb00;
  --sky-100: #eaf9ff;
  --sky-200: #cbf1ff;
  --sky-300: #98e3ff;
  --sky-400: #51cfff;
  --sky-500: #008ec4;
  --sunset-100: #fff9e3;
  --sunset-200: #ffedab;
  --sunset-300: #ffdc62;
  --sunset-400: #ffcd1f;
  --sunset-500: #970;
  --lilac-100: #fcf0ff;
  --lilac-200: #f7d9ff;
  --lilac-300: #eaf;
  --lilac-400: #e372ff;
  --lilac-500: #9900be;
  --mint-100: #e6fcf4;
  --mint-200: #c7f7e6;
  --mint-300: #98f1d1;
  --mint-400: #59e8b5;
  --mint-500: #18ae79;
  --sherbert-100: #fff6ef;
  --sherbert-200: #ffe8d8;
  --sherbert-300: #ffc38c;
  --sherbert-400: #ff983a;
  --sherbert-500: #d05700;
  --error-100: #ff7873;
  --error-200: #da4543;
  --error-300: #b00020;
}

:root {
    --neutral-100: #fff;
    --neutral-200: #f6f7fb;
    --neutral-300: #edeff4;
    --neutral-400: #d9dde8;
    --neutral-500: #939bb4;
    --ink-100: #646f90;
    --ink-200: #303545;
    --ink-300: #282e3e;
    --ink-400: #1a1d28;
    --ink-500: #13141b;
    --indigo-100: #eff3fb;
    --indigo-200: #cedaf3;
    --indigo-300: #7b89c9;
    --indigo-400: #4257b2;
    --indigo-500: #3b4c9b;
    --teal-100: #e7f9f9;
    --teal-200: #cff3f3;
    --teal-300: #7dd;
    --teal-400: #3ccfcf;
    --teal-500: #28a7a7;
    --yellow-100: #fff9e3;
    --yellow-200: #ffedab;
    --yellow-300: #ffdc62;
    --yellow-400: #ffcd1f;
    --yellow-500: #970;
    --orange-100: #fff8f0;
    --orange-200: #fce1c0;
    --orange-300: #f5ab4c;
    --orange-400: #f08700;
    --orange-500: #965501;
    --green-100: #f2fbf6;
    --green-200: #c8ecdb;
    --green-300: #65c999;
    --green-400: #23b26d;
    --green-500: #19804f;
    --coral-100: #fff3f1;
    --coral-200: #ffdcd6;
    --coral-300: #ff9c8c;
    --coral-400: #ff725b;
    --coral-500: #c34632;
    --coral-100-ink-500: #13141b;
    --coral-200-ink-340: #1a1d28;
    --coral-300-coral-500: #c34632;
    --coral-400-coral-500: #c34632;
    --gray-200-ink-200: #303545;
    --green-100-ink-500: #13141b;
    --green-100-green-500: #19804f;
    --green-400-green-200: #c8ecdb;
    --green-400-green-500: #19804f;
    --green-400-neutral-100: #fff;
    --green-500-green-100: #f2fbf6;
    --indigo-100-ink-300: #282e3e;
    --indigo-100-ink-400: #1a1d28;
    --indigo-100-ink-500: #13141b;
    --indigo-100-neutral-400: #d9dde8;
    --indigo-100-neutral-500: #939bb4;
    --indigo-200-ink-100: #646f90;
    --indigo-200-ink-200: #303545;
    --indigo-200-neutral-500: #939bb4;
    --indigo-300-ink-200: #303545;
    --indigo-400-ink-200: #303545;
    --indigo-400-ink-400: #1a1d28;
    --indigo-400-ink-500: #13141b;
    --indigo-300-neutral-300: #edeff4;
    --indigo-400-neutral-100: #fff;
    --indigo-200-indigo-400: #4257b2;
    --indigo-300-indigo-500: #3b4c9b;
    --indigo-400-indigo-200: #cedaf3;
    --indigo-400-indigo-300: #7b89c9;
    --indigo-500-ink-300: #282e3e;
    --ink-100-indigo-200: #cedaf3;
    --indigo-400-neutral-400: #d9dde8;
    --ink-100-neutral-200: #f6f7fb;
    --ink-100-neutral-300: #edeff4;
    --ink-100-neutral-400: #d9dde8;
    --ink-100-neutral-500: #939bb4;
    --ink-200-ink-100: #646f90;
    --ink-200-neutral-200: #f6f7fb;
    --ink-200-neutral-300: #edeff4;
    --ink-200-neutral-400: #d9dde8;
    --ink-200-neutral-500: #939bb4;
    --ink-300-neutral-100: #fff;
    --ink-400-neutral-200: #f6f7fb;
    --ink-400-neutral-300: #edeff4;
    --ink-400-ink-100: #646f90;
    --ink-200-gray-200: #f6f7fb;
    --ink-200-gray-500: #939bb4;
    --neutral-100-neutral-400: #d9dde8;
    --neutral-400-neutral-500: #939bb4;
    --neutral-500-neutral-400: #d9dde8;
    --neutral-500-neutral-100: #fff;
    --neutral-100-ink-100: #646f90;
    --neutral-100-ink-200: #303545;
    --neutral-100-ink-300: #282e3e;
    --neutral-100-ink-400: #1a1d28;
    --neutral-100-ink-500: #13141b;
    --neutral-200-ink-200: #303545;
    --neutral-200-ink-300: #282e3e;
    --neutral-200-ink-400: #1a1d28;
    --neutral-200-ink-500: #13141b;
    --neutral-200-gray-700: #2e3856;
    --neutral-300-ink-100: #646f90;
    --neutral-300-ink-200: #303545;
    --neutral-300-ink-300: #282e3e;
    --neutral-300-ink-400: #1a1d28;
    --neutral-300-ink-500: #13141b;
    --neutral-400-ink-200: #303545;
    --neutral-400-ink-300: #282e3e;
    --neutral-400-ink-100: #646f90;
    --neutral-500-ink-100: #646f90;
    --neutral-500-ink-200: #303545;
    --orange-100-ink-200: #303545;
    --orange-100-ink-300: #282e3e;
    --orange-100-ink-500: #13141b;
    --teal-100-ink-500: #13141b;
    --teal-400-teal-300: #7dd;
    --teal-500-teal-200: #cff3f3;
    --twilight-ink-100: #646f90;
    --twilight-ink-400: #1a1d28;
    --twilight-100-gray-700: #2e3856;
    --twilight-100-gray-800: #282e3e;
    --twilight-neutral-200: #f6f7fb;
    --yellow-100-ink-200: #303545;
    --yellow-100-ink-300: #282e3e;
    --yellow-100-ink-400: #1a1d28;
    --yellow-100-ink-500: #13141b;
    --yellow-400-yellow-200: #ffedab;
    --yellow-400-yellow-300: #ffdc62;
    --yellow-400-yellow-500: #970;
    --yellow-brand-ink-100: #646f90;
    --yellow-brand-ink-200: #303545;
    --yellow-brand-neutral-200: #f6f7fb;

    
    --backdrop-opacity: rgba(19, 20, 27, 0.75);
    --inverted-menu-mobile-border-left: rgba(19, 20, 27, 0.1);
    --heavy-button-disable-text: #8e8f92;
    --subtle-button-text-disabled: #3a3e48;
    --inverted-subtle-button-hover-text: #282c39;
    --icon-button-text-hover: #bec3d2;
    --icon-button-text-disabled: #3a3e48;
    --teal-button-hover-background: #92e3e3;
    --default-inverted-button-background-disabled: #539a9a;
    --danger-button-disabled-background: #b24f3f;
    --upgrade-button-disabled-background: #b29a44;
    --heavy-button-hover-text: #f4f5f8;
    --subtle-button-hover-text: #bec3d2;
    --inverted-subtle-button-text-disabled: #a2a8bc;
    --link-button-text-disabled: #478484;
    --radio-button-hover: rgba(217, 221, 232, 0.35);
    --shadow-with-opacity: rgba(147, 155, 180, 0.08);
    --icon-button-background-with-opacity: #282e3e;
    --white-badge-background-transparent: #303545;
    --unfocused-input-background-opaque: #282e3e;
    --neutral-100-transparent-80: rgba(19, 20, 27, 0.2);
    --neutral-100-transparent-90: rgba(19, 20, 27, 0.1);
    --transparency-modal-fade: rgba(48, 53, 69, 0.08);
    --error-red: #ff7873;
    --gray-100-gray-600: #586380;
    --gray-100-gray-700: #2e3856;
    --gray-100-gray-800: #282e3e;
    --gray-200-gray-600: #586380;
    --gray-200-gray-700: #2e3856;
    --gray-200-gray-800: #282e3e;
    --gray-200-gray-900: #1a1d28;
    --gray-100-twilight-900: #0a092d;
    --gray-100-twilight-500: #4255ff;
    --gray-200-twilight-900: #0a092d;
    --gray-300-gray-600: #586380;
    --gray-300-gray-700: #2e3856;
    --gray-300-gray-800: #282e3e;
    --gray-400-gray-200: #f6f7fb;
    --gray-400-gray-500: #939bb4;
    --gray-400-gray-600: #586380;
    --gray-400-gray-800: #282e3e;
    --gray-500-gray-200: #f6f7fb;
    --gray-500-gray-400: #d9dde8;
    --gray-500-gray-700: #2e3856;
    --gray-500-twilight-400: #7583ff;
    --gray-500-gray-600: #586380;
    --gray-600-gray-100: #fff;
    --gray-600-gray-200: #080a11;
    --gray-600-gray-400: #d9dde8;
    --gray-600-gray-500: #939bb4;
    --gray-600-gray-900: #1a1d28;
    --gray-700-sherbert-200: #ffe8d8;
    --gray-700-gray-200: #f6f7fb;
    --gray-700-gray-300: #edeff4;
    --gray-700-gray-500: #939bb4;
    --gray-800-gray-100: #fff;
    --gray-900-gray-100: #fff;
    --gray-700-twilight-100: #edefff;
    --gray-700-twilight-200: #dbdfff;
    --gray-800-twilight-900: #0a092d;
    --gray-800-gray-200: #f6f7fb;
    --gray-800-gray-300: #edeff4;
    --gray-800-gray-400: #d9dde8;
    --gray-800-twilight-200: #dbdfff;
    --gray-900-gray-500: #939bb4;
    --gray-900-gray-600: #586380;
    --lilac-100-twilight-900: #0a092d;
    --lilac-300-gray-700: #2e3856;
    --mint-100-gray-800: #282e3e;
    --mint-100-twilight-900: #0a092d;
    --mint-200-gray-700: #2e3856;
    --mint-200-gray-800: #282e3e;
    --mint-200-mint-500: #18ae79;
    --mint-300-mint-500: #18ae79;
    --mint-500-mint-400: #59e8b5;
    --sky-100-twilight-900: #0a092d;
    --sherbert-100-gray-800: #282e3e;
    --sherbert-100-twilight-900: #0a092d;
    --sherbert-300-sherbert-500: #d05700;
    --sherbert-400-twilight-500: #4255ff;
    --sherbert-500-sherbert-400: #ff983a;
    --sherbert-200-sherbert-500: #d05700;
    --sunset-200-gray-800: #282e3e;
    --sunset-400-gray-600: #586380;
    --sunset-200-sunset-500: #970;
    --twilight-100-twilight-800: #14125c;
    --twilight-100-twilight-900: #0a092d;
    --twilight-200-twilight-300: #a8b1ff;
    --twilight-200-gray-600: #586380;
    --twilight-200-gray-700: #2e3856;
    --twilight-200-gray-800: #282e3e;
    --twilight-300-gray-500: #939bb4;
    --twilight-400-gray-500: #939bb4;
    --twilight-400-twilight-300: #a8b1ff;
    --twilight-600-gray-700: #2e3856;
    --twilight-200-twilight-800: #14125c;
    --twilight-300-twilight-400: #7583ff;
    --twilight-300-twilight-500: #4255ff;
    --twilight-500-twilight-300: #a8b1ff;
    --twilight-500-twilight-400: #7583ff;
    --twilight-500-gray-100: #fff;
    --twilight-500-gray-200: #f6f7fb;
    --twilight-600-gray-400: #d9dde8;
    --twilight-600-gray-500: #939bb4;
    --twilight-500-twilight-600: #423ed8;
    --twilight-500-twilight-900: #0a092d;
    --twilight-600-twilight-400: #7583ff;
    --twilight-600-twilight-500: #4255ff;
    --twilight-600-twilight-700: #1f1c8b;
    --twilight-700-twilight-600: #423ed8;
    --twilight-700-gray-600: #586380;
    --twilight-900-twilight-800: #14125c;
    --twilight-900-gray-100: #fff;
    --twilight-900-gray-600: #586380;
    --twilight-900-gray-700: #2e3856;
    --card-background-transparent: rgba(46, 56, 86, 0);
    --search-placeholder-text: rgba(217, 221, 232, 0.8);
    --typeahead-search-results-opacity: rgba(26, 29, 40, 0);
    --typeahead-search-scrollbar: rgba(46, 56, 86, 0.2);
    --typeahead-search-scrollbar-border: rgba(46, 56, 86, 0.2);
    --modal-footer-transparent: rgba(46, 56, 86, 0);
    --modal-backdrop: rgba(10, 9, 45, 0.7);
    --pill-background-subtle: rgba(217, 221, 232, 0.32);
    --pill-background-subtle-color: rgba(208, 87, 0, 0.32);
    -webkit-scrollbar-color: dark;
    -moz-scrollbar-color: dark;
    -ms-scrollbar-color: dark;
    scrollbar-color: dark;
    --secondary-body-text-color: var(--ink-100-neutral-500);
    --primary-body-text-color: var(--ink-200-neutral-300);
    --divider-color: var(--neutral-300-ink-200);
    --mp_gray_color: var(--ui_color_gray_90_foreground);
    --mp_gray_color_transparent_10: var(--ui_color_gray_90_foreground_transparent_10);
    --mp_gray_color_darken_10: var(--ui_color_gray_90_foreground_darken_10);
    --mp_gray_color_darken_20: var(--ui_color_gray_90_foreground_darken_20);
    --term_operations_color: var(--ui_color_gray_60);
    --term_operations_color_lighten_10: var(--ui_color_gray_60_lighten_10);
    --ui_color_no_activity: var(--ui_color_gray_70_foreground);
    --ui_color_dots: var(--ui_color_gray_70_foreground);
    --ui_color_dots_active: var(--ui_color_gray_60);
    --ui_color_breadcrumb_text: var(--ui_color_gray_60);
    --ui_color_browser_header_background: var(--ui_color_gray_90_background);
    --ui_color_default_foreground: var(--ui_color_gray_30);
    --ui_color_default_foreground_transparent_50: var(--ui_color_gray_30_transparent_50);
    --ui_color_default_foreground_transparent_76: var(--ui_color_gray_30_transparent_76);
    --ui_color_revert: var(--ui_color_gray_30);
    --ui_color_started: var(--ui_color_gray_30);
    --ui_color_finished: var(--ui_color_gray_30);
    --teacher_mp_color: var(--ink-400);
    --teacher_mp_color_transparent_90: #3d445e;
    --ui_color_no_activity_transparent_70: var(--ui_color_gray_70_foreground_transparent_70);
    --ui_color_progress_unfamiliar: var(--ui_color_gray_70_foreground);
    --ui_brand_color: var(--ui_color_primary_indigo_foreground);
    --ui_brand_color_lighten_40: var(--ui_color_primary_indigo_lighten_40);
    --ui_brand_color_transparent_20: var(--ui_color_primary_indigo_transparent_20);
    --ui_brand_color_transparent_86: var(--ui_color_primary_indigo_transparent_86);
    --active_color: var(--ui_color_primary_indigo_foreground);
    --active_color_darken_2: var(--ui_color_primary_indigo_darken_2);
    --active_color_darken_8: var(--ui_color_primary_indigo_darken_8);
    --active_color_darken_15: var(--ui_color_primary_indigo_darken_15);
    --active_color_lighten_10: var(--ui_color_primary_indigo_lighten_10);
    --active_color_lighten_12: var(--ui_color_primary_indigo_lighten_12);
    --active_color_lighten_15: var(--ui_color_primary_indigo_lighten_15);
    --active_color_lighten_40: var(--ui_color_primary_indigo_lighten_40);
    --active_color_lighten_50: var(--ui_color_primary_indigo_lighten_50);
    --active_color_lighten_60: var(--ui_color_primary_indigo_lighten_60);
    --active_color_lighten_65: var(--ui_color_primary_indigo_lighten_65);
    --active_color_lighten_88: var(--ui_color_primary_indigo_lighten_88);
    --active_color_lighten_90: var(--ui_color_primary_indigo_lighten_90);
    --active_color_lighten_90_transparent_70: var(--ui_color_primary_indigo_lighten_90_transparent_70);
    --active_color_desaturate_50_lighten_10: var(--ui_color_primary_indigo_desaturate_50_lighten_10);
    --active_color_saturate_10_ligthen_8: var(--ui_color_primary_indigo__saturate_10_ligthen_8);
    --active_color_desaturate_50: var(--ui_color_primary_indigo_desaturate_50);
    --active_color_transparent_30: var(--ui_color_primary_indigo_transparent_30);
    --active_color_transparent_10: var(--ui_color_primary_indigo_transparent_10);
    --quizlet_color: var(--ui_color_primary_indigo_foreground);
    --blue_color: var(--ui_color_primary_indigo_foreground);
    --plus_color: var(--ui_color_primary_indigo_foreground);
    --plus_color_transparent_20: var(--ui_color_primary_indigo_transparent_20);
    --plus_color_transparent_85: var(--ui_color_primary_indigo_transparent_85);
    --plus_color_transparent_90: var(--ui_color_primary_indigo_transparent_90);
    --plus_color_lighten_15: var(--ui_color_primary_indigo_lighten_15);
    --teacher_color: var(--ui_color_primary_indigo_foreground);
    --teacher_color_lighten_15: var(--ui_color_primary_indigo_lighten_15);
    --teacher_color_lighten_65: var(--ui_color_primary_indigo_lighten_65);
    --teacher_color_lighten_88: var(--ui_color_primary_indigo_lighten_88);
    --teacher_color_transparent_85: var(--ui_color_primary_indigo_transparent_85);
    --quiz_color: var(--ui_color_primary_indigo_foreground);
    --dark_quiz_color: var(--ui_color_primary_indigo_shade_30);
    --light_quiz_color: var(--ui_color_primary_indigo_tint_40);
    --lighter_quiz_color: var(--ui_color_primary_indigo_tint_70);
    --lightest_quiz_color: var(--ui_color_primary_indigo_tint_90);
    --testbank_color: var(--ui_color_primary_indigo_foreground);
    --testbank_color_darken_10: var(--ui_color_primary_indigo_darken_10);
    --testbank_color_lighten_40: var(--ui_color_primary_indigo_lighten_40);
    --dmca_color: var(--ui_color_primary_indigo_foreground);
    --dmca_color_lighten_40: var(--ui_color_primary_indigo_lighten_40);
    --medium_blue: var(--ui_color_primary_indigo_foreground);
    --ui_color_inverse_background: var(--ui_color_primary_indigo_background);
    --midnight_blue: var(--ui_color_gray_20);
    --midnight_blue_lighten_10: var(--ui_color_gray_20_lighten_10);
    --midnight_blue_lighten_15: var(--ui_color_gray_20_lighten_15);
    --midnight_blue_lighten_25: var(--ui_color_gray_20_lighten_25);
    --midnight_blue_transparent_30: var(--ui_color_gray_20_transparent_30);
    --midnight_blue_transparent_40: var(--ui_color_gray_20_transparent_40);
    --menu_item_alert: var(--coral-400);
    --menu_item_highlight: var(--yellow-100);
    --menu_item_primary: var(--themed_menu_item_primary);
    --menu_item_secondary: var(--neutral-500);
    --menu_item_primary_highlight: var(--ink-200);
    --menu_item_secondary_highlight: var(--neutral-500);
    --mobile_slider_active_dot_background_color: var(--teal-400);
    --mobile_slider_dot_background_color: var(--neutral-400);
    --product_card_fine_print_color: var(--neutral-500);
    --upgrade_free_offline_access_form_box_shadow_color: rgb(48 53 69/0.08);
    --dropdown-button-active-background: var(--neutral-200);
    --study-modes-high-contrast: var(--yellow-400);
    --set-card-preview: var(--neutral-400);
    --set-card-preview-hover: var(--yellow-400);
    --prismic_richtext_section_white_transparent_background: var(--ui_color_white_transparent_30);
    --prismic_collapsible_texts_link_button: var(--teal-400);
    --prismic_collapsible_texts_item_arrow: var(--ink-200);
    --prismic_prep_pack_primary_dark_indigo_color: var(--ink-200);
    --prismic_prep_pack_feature_table_name: var(--indigo-500);
    --prismic_prep_pack_feature_table_logo_text: var(--neutral-100);
    --prismic_prep_pack_feature_table_features: var(--neutral-100);
    --prismic_recent_press_background: var(--neutral-200);
    --prismic_recent_press_footer_first_child: var(--neutral-200);
    --prismic_topic_links_background: var(--yellow-200);
    --prismic_topic_links_button: var(--ink-200);
    --prismic_value_prop_banner_color: var(--neutral-100);
    --prismic_video_embed_with_text_white: var(--neutral-100);
    --prismic_video_embed_with_text_link_button: var(--neutral-100);
    --link-button-text-hover: #36baba;
    --shadow-color: rgb(48 53 69/0.08);
    --input-browser-autocomplete-bg-shadow: 50rem;
    --markdown-it-katex-color-text: #f6f7fb;
    --markdown-it-katex-color-table-border: #0a092d;
    --markdown-it-katex-color-table-header: #0a092d;
    --markdown-it-katex-color-table-row: #2e3856;
    --markdown-it-katex-color-code-background: #282e3e;
  }
  