:root {
  --z-index-0: 1;
  --z-index-1: 101;
  --z-index-2: 201;
  --z-index-3: 301;
  --z-index-4: 401;
  --z-index-5: 501;
  --z-index-6: 601;
  --z-index-7: 701;
  --z-index-8: 801;
  --z-index-9: 901;
  --z-index-10: 1001;
  --z-index-11: 1101;
}
  
:root {
  --spacing-xxsmall: 0.25rem;
  --spacing-xsmall: 0.5rem;
  --spacing-small: 1rem;
  --spacing-medium: 1.5rem;
  --spacing-large: 2rem;
  --spacing-xlarge: 3rem;
  --spacing-xxlarge: 4rem;
  --radius-small: 0.25rem;
  --radius-medium: 0.5rem;
  --radius-large: 1rem;
}

:root {
    --typography-heading-weight: 700;
    --typography-body-weight: 400;
    --typography-section-weight: 600;
    --modal-margin: 5rem;
    --modal-width: 100%;
}
