:root {
    --z-index-0: 1;
    --z-index-1: 101;
    --z-index-2: 201;
    --z-index-3: 301;
    --z-index-4: 401;
    --z-index-5: 501;
    --z-index-6: 601;
    --z-index-7: 701;
    --z-index-8: 801;
    --z-index-9: 901;
    --z-index-10: 1001;
    --z-index-11: 1101;
}

:root {
    --spacing-xxsmall: 0.25rem;
    --spacing-xsmall: 0.5rem;
    --spacing-small: 1rem;
    --spacing-medium: 1.5rem;
    --spacing-large: 2rem;
    --spacing-xlarge: 3rem;
    --spacing-xxlarge: 4rem;
    --radius-small: 0.25rem;
    --radius-medium: 0.5rem;
    --radius-large: 1rem;
}

:root {
    --neutral-100: #fff;
    --neutral-200: #f6f7fb;
    --neutral-300: #edeff4;
    --neutral-400: #d9dde8;
    --neutral-500: #939bb4;
    --ink-100: #646f90;
    --ink-200: #303545;
    --ink-300: #282e3e;
    --ink-400: #1a1d28;
    --ink-500: #13141b;
    --indigo-100: #eff3fb;
    --indigo-200: #cedaf3;
    --indigo-300: #7b89c9;
    --indigo-400: #4257b2;
    --indigo-500: #3b4c9b;
    --teal-100: #e7f9f9;
    --teal-200: #cff3f3;
    --teal-300: #7dd;
    --teal-400: #3ccfcf;
    --teal-500: #28a7a7;
    --yellow-100: #fff9e3;
    --yellow-200: #ffedab;
    --yellow-300: #ffdc62;
    --yellow-400: #ffcd1f;
    --yellow-500: #970;
    --orange-100: #fff8f0;
    --orange-200: #fce1c0;
    --orange-300: #f5ab4c;
    --orange-400: #f08700;
    --orange-500: #965501;
    --green-100: #f2fbf6;
    --green-200: #c8ecdb;
    --green-300: #65c999;
    --green-400: #23b26d;
    --green-500: #19804f;
    --coral-100: #fff3f1;
    --coral-200: #ffdcd6;
    --coral-300: #ff9c8c;
    --coral-400: #ff725b;
    --coral-500: #c34632;
}

:root {
    --twilight-100: #edefff;
    --twilight-200: #dbdfff;
    --twilight-300: #a8b1ff;
    --twilight-400: #7583ff;
    --twilight-500: #4255ff;
    --twilight-600: #423ed8;
    --twilight-700: #1f1c8b;
    --twilight-800: #14125c;
    --twilight-900: #0a092d;
    --gray-100: #fff;
    --gray-200: #f6f7fb;
    --gray-300: #edeff4;
    --gray-400: #d9dde8;
    --gray-500: #939bb4;
    --gray-600: #586380;
    --gray-700: #2e3856;
    --gray-800: #282e3e;
    --gray-900: #1a1d28;
    --lemon-100: #fdffe9;
    --lemon-200: #faffbb;
    --lemon-300: #f5ff7d;
    --lemon-400: #ebff03;
    --lemon-500: #acbb00;
    --sky-100: #eaf9ff;
    --sky-200: #cbf1ff;
    --sky-300: #98e3ff;
    --sky-400: #51cfff;
    --sky-500: #008ec4;
    --sunset-100: #fff9e3;
    --sunset-200: #ffedab;
    --sunset-300: #ffdc62;
    --sunset-400: #ffcd1f;
    --sunset-500: #970;
    --lilac-100: #fcf0ff;
    --lilac-200: #f7d9ff;
    --lilac-300: #eaf;
    --lilac-400: #e372ff;
    --lilac-500: #9900be;
    --mint-100: #e6fcf4;
    --mint-200: #c7f7e6;
    --mint-300: #98f1d1;
    --mint-400: #59e8b5;
    --mint-500: #18ae79;
    --sherbert-100: #fff6ef;
    --sherbert-200: #ffe8d8;
    --sherbert-300: #ffc38c;
    --sherbert-400: #ff983a;
    --sherbert-500: #d05700;
    --error-100: #ff7873;
    --error-200: #da4543;
    --error-300: #b00020;
}