.textField{
  display: flex;
  flex-direction: column;
  height: 36px;
  span{
    box-shadow: 0 10px 0 0 #303545;
    height: 10px;
  }

  input{
    height: 100%;
    border: none;
    outline: none;
    &:focus + span{
      box-shadow: 0 0.25rem 0 0 #ffcd1f;
      height: 3px;
    }
  }

}

.textFieldBorder{
  height: 0.25rem;
  transition: all .12s cubic-bezier(.47,0,.745,.715);
  width: 100%;
}